.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}
form {
  margin: 0 0 0 0;
}
#url {
  width: 250px;
}
#source, #sentence-block {
  margin: 5px 0 5px 0;
}
.result {
  display: none;
}
#check, #next, #repeat {
  display: none;
}
#correct {
  color: green;
}
#incorrect {
  color: red;
}
#solution {
  color: white;
}
